{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}

        <link rel="stylesheet"
              href=
              "https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

        <!-- DataTables JS -->
        <script src=
                "https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
        </script>

    {%  if(user_role==1) %}
        {% set menuitem = 'users/menu.html.twig' %}
    {% else %}
        {% set menuitem = 'users/admin-menu.html.twig' %}
    {%  endif %}

    {% include menuitem %}

{% endblock %}

{% block tableset %}
    {%  if(is_error==1) %}
        <p style="color: red">{{ message }}</p>
    {%  endif %}
    {%  if(is_error==0) %}
        <p style="color: green">{{ message }}</p>
    {%  endif %}
    <div class="row">
        <div class="col-sm-6">
            <a href="category-add.php" id="create" >AddCategory</a>
        </div>
        <div class="col-sm-6" style="margin-left: 70%;">
            <form name="" action="../../Controller/Category/CategoryController.php" method="post">
                StartDate: <input type="date" name="start_date" value={{ start_date }} minlength="6"  required />
                EndDate: <input type="date" name="end_date"  value={{ end_date }} = minlength="6"  required />
                <input type="hidden" name="type"  value="category_date_filter" minlength="6" class="form-control" required />
                <input type="submit" value="Search" name="submit" class="btn-primary" />
            </form>
        </div>

    </div>
    <br>

    <table id="tableID" class="display nowrap">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>status</th>
            <th>Description</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for key, user in row %}

             <tr>
              <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.description }}</td>
            <td><a href="category-edit.php?id={{ user.id }}">Edit</a> |<a href="category-view.php?id={{ user.id }}">View</a> |<a onclick="return confirm('Are you Sure  Want to Delete This Record?')"  href="category-delete.php?id={{ user.id }}">Delete</a> </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
    <script>

        // Initialize the DataTable
        $(document).ready(function () {
            $('#tableID').DataTable({

                // Set the 3rd column of the
                // DataTable to ascending order
                order: [[2, 'asc']]
            });
        });
    </script>

    <!-- card.// -->
{% endblock %}


{% block left_teaser %}
    <h1>Index1</h1>
{% endblock %}

{% block footer %}
    <br>
   <p style="text-align: center;"> VCA Demo Name © 2023</p>
{% endblock %}
