{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
        <!-- DataTables CSS -->
        <link rel="stylesheet"
              href=
              "https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

        <!-- DataTables JS -->
        <script src=
                "https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
        </script>

    {%  if(user_role==1) %}
        {% set menuitem = 'users/menu.html.twig' %}
    {% else %}
        {% set menuitem = 'users/admin-menu.html.twig' %}
    {%  endif %}

    {% include menuitem %}
{% endblock %}

{% block tableset %}
    {%  if(is_error==1) %}
        <p style="color: green">{{ message }}</p>
    {%  endif %}

    <a href="product-add.php" id="create" target="_blank">AddProducts</a>
    <br><br><br>
       <table id="tableID" class="display nowrap">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Location</th>
            <th>CompanyName</th>
            <th>State</th>
            <th>city</th>
            <th>address</th>
            <th>status</th>
            <th>Description</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for key, user in row %}

                     <tr>
                         <td>{{ user.id }}</td>
                        <td>{{ user.title }}</td>
                         <td>{{ user.catgory_name }}</td>
                        <td>{{ user.location }}</td>
                         <td>{{ user.company_name }}</td>
                        <td>{{ user.state }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.address }}</td>
                         <td>{{ user.status }}</td>
                         <td>{{ user.description }}</td>
                        <td><a href="product-edit.php?id={{user.id}}">Edit</a> |<a href="product-view.php?id={{user.id}}">View</a> |<a href="product-delete.php?id={{user.id}}">Delete</a> </td>

                     </tr>
        {% endfor %}

        </tbody>
    </table>
    <script>

        // Initialize the DataTable
        $(document).ready(function () {
            $('#tableID').DataTable({

                // Set the 3rd column of the
                // DataTable to ascending order
                order: [[2, 'asc']]
            });
        });
    </script>

    <!-- card.// -->
{% endblock %}


{% block left_teaser %}
    <h1>Index1</h1>
{% endblock %}

{% block footer %}
    <br>
   <p style="text-align: center;"> VCA Demo Name © 2023</p>
{% endblock %}
