{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .divider-text {
            position: relative;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .divider-text span {
            padding: 7px;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }
        .divider-text:after {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #ddd;
            top: 55%;
            left: 0;
            z-index: 1;
        }
        .btn-facebook {
            background-color: #405D9D;
            color: #fff;
        }
        .btn-twitter {
            background-color: #42AEEC;
            color: #fff;
        }
        ul, li {
            margin:0;
            padding:0;
            list-style-type:none;
        }
        #pswd_info {
            position:absolute;
            right:55px;
            width:250px;
            padding:15px;
            background:#fefefe;
            font-size:.875em;
            border-radius:5px;
            box-shadow:0 1px 3px #ccc;
            border:1px solid #ddd;
        }
        .invalid {
            background:url(../images/invalid.png) no-repeat 0 50%;
            padding-left:22px;
            line-height:24px;
            color:#ec3f41;
        }
        .valid {
            background:url(../images/valid.png) no-repeat 0 50%;
            padding-left:22px;
            line-height:24px;
            color:#3a7d34;
        }
        #pswd_info {
            display:none;
        }
    </style>

    <script type="text/javascript">

        $( document ).ready(function() {
            $('#search_pro_data').focusout(function(){
                var search_text = $(this).val();

                $.ajax({
                    method:"POST",
                    url: "http://vca.demoproject.aum/Controller/Products/ProductsController.php",
                    data:{search_text:search_text, type:'serach'},
                    success: function(data){
                            $('#search_messge').html('Serach Data');
                            $('.product_list').hide();
                            $('.product_add').html(data);
                    }
                });

            });

        });


    </script>

{% endblock %}

{% block container %}



    <hr>
    <br>
    {% if(login_status == 1) %}
        <a href="user-dashboard.php" id="create" target="_blank">Dashboard</a>
    {% endif %}

    {% set menuitem = 'users/fornt-menu.html.twig' %}
    {% include menuitem %}



    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 520px;">
            <input type="text" size="30"  name="search_pro_data" id="search_pro_data"  placeholder="Search text" style="margin-left: 98%;">
            <p class="row" id="search_messge" style="color: green"></p>
            {% if row!=0 %}
                {% for key, product in row %}

                <div class="row product_list">
                    <div class="col-sm-7"><img class="img-thumbnail" src="http://www.jquery-az.com/html/images/banana.jpg" alt="user avatar"></div>
                    <div class="col-sm-5"><h3>{{ product.title }}</h3>
                        <p class="w3-opacity">Company Name:: {{ product.company_name }}</p>
                        <p>Description::{{ product.description }}.</p>
                        <p>Address::{{ product.address }}.-{{ product.state }}-{{ product.city }}-{{ product.postcode }}</p>
                        <a href="user-products-view.php?id={{ product.id}}" id="create" class="btn btn-primary" target="_blank">ViewDetails</a></div>
                    <hr>
               </div>
                {% endfor %}

            {% else %}
                <p style="color: red">Product data are not Found.....</p>
            {% endif %}

            <div class="row product_add"></div>

         </article>
    </div>
    <!-- card.// -->
{% endblock %}


{% block left_teaser %}
    <h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
