{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}

    <script src="http://vca.demoproject.aum/public/js/products.js"></script>

{% endblock %}

{% block container %}



    <hr>
    <br>
    {% if(login_status == 1) %}
        <a href="user-dashboard.php" id="create" target="_blank">Dashboard</a>
    {% endif %}

    {% set menuitem = 'users/fornt-menu.html.twig' %}
    {% include menuitem %}



    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 520px;">
            <input type="text" size="30"  name="search_pro_data" id="search_pro_data"  placeholder="Search text" style="margin-left: 98%;">
            <p class="row" id="search_messge" style="color: green"></p>
            {% if row!=0 %}
                {% for key, product in row %}

                <div class="row product_list">
                    <div class="col-sm-7"><img class="img-thumbnail" src="http://vca.demoproject.aum/public/images/products/{{ product.img_path }}" alt="user avatar"></div>
                    <div class="col-sm-5"><h3>{{ product.title }}</h3>
                        <p class="w3-opacity">Company Name:: {{ product.company_name }}</p>
                        <p>Location::{{ product.location }}.</p>
                        <p>Address::{{ product.address }}.-{{ product.state }}-{{ product.city }}-{{ product.postcode }}</p>
                        <a href="user-products-view.php?id={{ product.id}}" id="create" class="btn btn-primary">ViewDetails</a></div>
                    <hr>
               </div><hr id="hr_id">
                {% endfor %}

            {% else %}
                <p style="color: red">Product data are not Found.....</p>
            {% endif %}

            <div class="row product_add"></div>

         </article>
    </div>
    <!-- card.// -->
{% endblock %}


{% block left_teaser %}
    <h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
