{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}



    {%  if(login_user_role==1) %}
        {% set menuitem = 'users/menu.html.twig' %}
    {% else %}
        {% set menuitem = 'users/admin-menu.html.twig' %}
    {%  endif %}

    {% include menuitem %}
{% endblock %}

{% block tableset %}
    <a href="user-index.php" id="create" target="_blank">Back</a>
    <h5 id="status_messge" style="color: red; display:none"></h5>
    <h5 id="name_messge" style="color: red; display:none"></h5>
    <table width="100%"  border="0">
    <tr>
        <th width="26%" height="60" scope="row">User Name :</th>
        <input type="hidden" name="category_id" value="{{id}}" class="form-control" required  readonly />
        <td width="74%"><input type="text" name="category_name"   id="name"  value="{{data.name}}" class="form-control"  readonly /></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">User Email :</th>
        <td width="74%"><input type="text" name="email"   id="email"  value="{{data.email}}" class="form-control"  readonly  /></td>
    </tr>

    <tr>
        <th height="60" scope="row">User Status :</th>
        <td><select name="category_status"  id="status" class="form-control " readonly>
            <option value="">Select</option>
            {% if(data.status==1) %}
                <option value="1" selected>Active</option>
                <option value="0">InActive</option>

            {% else %}
                <option value="1">Active</option>
                <option value="0" selected>InActive</option>
            {% endif %}
        </select> </td>
    </tr>
    {% if(login_user_role==1) %}
        <tr>

            <th height="60" scope="row">Select Role :</th>
            <td><select name="role_id" class="form-control " id="" readonly="">
                    <option value="">Select Role</option>
                    {% for value in role_data %}
                        {% if(user_role == value.id)%}
                            <option value="{{ value.id }}" selected>{{ value.name }}</option>
                        {% else %}
                            <option value="{{ value.id }}">{{ value.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select> </td>
        </tr>
    {% endif %}
    </tr><!--  <tr>
        <th height="60" scope="row">Hobbies :</th>
        <td><input type="checkbox" name="hobbies" value="Read" required /> Read  &nbsp;
        <input type="checkbox" name="hobbies" value="traveling" required /> Traveling</td>
      </tr>-->
    <tr>
        <th height="60" scope="row">&nbsp;</th>
{#        <td><input type="submit" value="Update" name="submit" class="btn-primary" /></td>#}
    </tr>
</table>
<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
