{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}

    <script src="http://vca.demoproject.aum/public/js/products.js"></script>

{% endblock %}

{% block container %}

    {% if adstopDataresult|length >= 1 %}
        <marquee>
        {% for key,value in adstopDataresult %}
                 <a href="http://vca.demoproject.aum/views/users/user-products-view.php?id={{ value.product_id }}" >
                        <img  class="img-thumbnail" src="http://vca.demoproject.aum/public/images/products/{{ value.product_img }}" alt="user avatar" style="height: 160px;width: 400px;">
                 </a>
        {% endfor %}
          </marquee>
    {% endif %}
    <hr>
    <br>
    {% if(login_status == 1) %}
        <a href="user-dashboard.php" id="create" target="_blank">Dashboard</a>
    {% endif %}

    {% set menuitem = 'users/fornt-menu.html.twig' %}
    {% include menuitem %}



    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 520px;">
            <div class="row">
                <div class="col-sm-6">
                    <select name="search_product_category" id="search_product_category" class="form-control" style="margin-left:-135%">
                        <option value="">Select Category</option>
                        {% for value in categories %}
                            <option value="{{ value.id }}">{{ value.name }}</option>

                        {% endfor %}
                    </select>

                </div>
                <div class="col-sm-6"> <input type="text" size="30"  name="search_pro_data" id="search_pro_data"  placeholder="Search text" style="margin-left: 98%;"></div>
            </div>
            <p class="row" id="search_messge" style="color: green"></p>
            {% if row!=0 %}
                {% for key, product in row %}

                <div class="row product_list" style="background-color: white">

                    <div class="col-sm-7"> <a href="user-products-view.php?id={{ product.id}}" id="create">
                            <img class="img-thumbnail" src="http://vca.demoproject.aum/public/images/products/{{ product.img_path }}" alt="user avatar"></a><br><br></div>
                    <div class="col-sm-5"><h3>{{ product.title }}</h3>
                        <p class="w3-opacity">Company Name:: {{ product.company_name }}</p>
                        <p>Location::{{ product.location }}.</p>
                        <p>Address::{{ product.address }}.-{{ product.state }}-{{ product.city }}-{{ product.postcode }}</p>
                        <a href="user-products-view.php?id={{ product.id}}" id="create" class="btn btn-primary">ViewDetails</a><br><hr>
                    </div>


               </div>
                {% endfor %}


            {% else %}
                <p style="color: red">Product data are not Found.....</p>
            {% endif %}

            <div class="row product_add"></div>

         </article>
    </div>
    <!-- card.// -->
{% endblock %}


    {% block left %}

        {% if adsDataresult|length >= 1 %}
        <div class="left" style="margin-top:-230%;margin-left: 85%">

                {% for value in adsDataresult %}

                    <div class="next-prev-title"><a href="http://vca.demoproject.aum/views/users/user-products-view.php?id={{ value.product_id }}">
                            <img class="img-thumbnail" src="http://vca.demoproject.aum/public/images/products/{{ value.product_img }}" alt="user avatar" style="width: 65%;"></a>
                        <br><br>
                    </div>
                {% endfor %}
            {% endif %}

    {% endblock %}

{% block footer %}

{% endblock %}

