{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: darkblue;
            color: white;
        }
        #create:link, #create:visited {
            background-color: green;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        #create:hover, #create:active {
            background-color: green;
        }
    </style>

    {%  if(login_user_role==1) %}
        {% set menuitem = 'users/menu.html.twig' %}
    {% else %}
        {% set menuitem = 'users/admin-menu.html.twig' %}
    {%  endif %}

    {% include menuitem %}

    {% endblock %}

{% block tableset %}
    {%  if(login_user_role==1) %}
    <a href="user-index.php" id="create" target="_blank">Back</a>
    {% else %}
        <a href="user-dashboard.php" id="create" target="_blank">Back</a>

    {%  endif %}


    <h5 id="status_messge" style="color: red; display:none"></h5>
    <h5 id="name_messge" style="color: red; display:none"></h5>
    <form action="../../Controller/UserRegisterController.php"  method="post" onsubmit="return Validation()" enctype="multipart/form-data">
    <table width="100%"  border="0">
    <tr>
        <th width="26%" height="60" scope="row">User Name :</th>
        <input type="hidden" name="user_id" value="{{data.id}}" class="form-control" required  />
        <td width="74%"><input type="text" name="name"   id="name"  value="{{data.name}}" class="form-control"   /></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">User Email :</th>
        <td width="74%"><input type="text" name="email"   id="email"  value="{{data.email}}" class="form-control"   readonly /></td>
    </tr>

    <tr>
        <th height="60" scope="row">User Status :</th>
        <td>
            {%  if(login_user_role==1) %}
            <select name="status"  id="status" class="form-control ">
            {% else %}
                <select name="status"  id="status" class="form-control " readonly="">

            {% endif %}
            <option value="">Select</option>
            {% if(data.status==1) %}
                <option value="1" selected>Active</option>
                <option value="0">InActive</option>

            {% else %}
                <option value="1">Active</option>
                <option value="0" selected>InActive</option>
            {% endif %}
        </select> </td>
    </tr>
        {% if(login_user_role==1) %}
         <tr>

            <th height="60" scope="row">Select Role :</th>
            <td><select name="role_id" class="form-control " id="role_id">
                    <option value="">Select Role</option>
                    {% for value in role_data %}
                           {% if(user_role == value.id)%}
                                <option value="{{ value.id }}" selected>{{ value.name }}</option>
                           {% else %}
                               <option value="{{ value.id }}">{{ value.name }}</option>
                           {% endif %}
                    {% endfor %}
                </select> </td>
        </tr>
        {% endif %}
    </tr><!--  <tr>
        <th height="60" scope="row">Hobbies :</th>
        <td><input type="checkbox" name="hobbies" value="Read" required /> Read  &nbsp;
        <input type="checkbox" name="hobbies" value="traveling" required /> Traveling</td>
      </tr>-->
    <tr>
        <th height="60" scope="row">&nbsp;</th>
        <td><input type="submit" value="Update" name="submit" class="btn-primary" /></td>
    </tr>
</table>
</form>
<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
