{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}

    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 550px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
        .well {
            background-color: beige;
            text-align: center;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {height: auto;}
        }
    </style>

    {%  if(user_role==1) %}
        {% set menuitem = 'users/menu.html.twig' %}
    {% else %}
        {% set menuitem = 'users/admin-menu.html.twig' %}
    {%  endif %}

    {% include menuitem %}

{% endblock %}

{% block tableset %}



    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs" style="text-align: center">
                <div class="card">
                    <img src="img.jpg" alt="" style="width:100%">
                    <br>
                    <h1>{{ data.name }}</h1>
{#                    <p class="title">CEO & Founder, Example</p>#}
                    <p>Name::{{ data.name }}</p>
                    <p>Email::  {{ data.email }}</p>
                    <p>Status::  {{ status }}</p>
                    <p>Role::  {{ role }}</p>
                    <a href="user-edit.php?id={{ id }}" id="create" target="_blank">Edit Profile</a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>

                </div>
            </div>
            <br>

            <div class="col-sm-9" style="margin-top: 3%">
                <div class="well">
                    <h4>Dashboard</h4>
                    <p>Wellcome to vca Demo.</p>
                </div>
                <div class="row">

                    {%  if(user_role==1) %}
                        <div class="col-sm-6">
                        <a href="user-index.php">
                            <div class="well">
                            <h4>Users </h4>
                            <p>{{ totalUser }}</p>
                        </div>
                        </a>
                    </div>
                    {%  endif %}
                    <div class="col-sm-6">
                        <a href="../products/product-index.php">
                        <div class="well">
                            <h4>Products</h4>
                            <p>{{ totalProduct }}</p>
                        </div>
                        </a>
                    </div>

                </div>
                <div class="row">
                    {%  if(user_role==1) %}
                    <div class="col-sm-6">
                        <div class="well" style="background-color: greenyellow">
                            <h4>ActiveUser</h4>
                            <p>{{ activeUser }}</p>
                        </div>
                    </div>
                    {%  endif %}
                    <div class="col-sm-6">
                        <div class="well" style="background-color: greenyellow">
                            <h4>ActiveProduct</h4>
                            <p>{{ activeProduct }}</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    {%  if(user_role==1) %}
                    <div class="col-sm-6">
                        <div class="well" style="background-color: red">
                            <h4>InActive User</h4>
                            <p>{{ inActiveUser }}</p>
                        </div>
                    </div>
                    {%  endif %}
                    <div class="col-sm-6">
                        <div class="well" style="background-color: red">
                            <h4>InActive Products</h4>
                            <p>{{ inActiveProduct }}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block left_teaser %}
    <h1>Index1</h1>
{% endblock %}

{% block footer %}
    <p style="text-align: center;"> VCA Demo Name © 2023</p>
{% endblock %}
