{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block container %}

    <h5 id="usercheck" style="color: red; display:none">
    </h5>
    <h5 id="emailcheck" style="color: red; display:none">
    </h5>
    <h5 id="passwordcheck" style="color: red; display:none">
    </h5>
    <h5 id="cpasswordcheck" style="color: red; display:none">
    </h5>

    <hr>
    <br>
    {% if(status == 1) %}
        <a href="user-dashboard.php" id="create" target="_blank">Dashboard</a>
    {% endif %}

    {% set menuitem = 'users/fornt-menu.html.twig' %}
    {% include menuitem %}



    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 520px;">

            <a href="user-products.php" id="create" class="btn btn-primary" style="    margin-left: -60%;">Back</a>

            <div class="row">
                <div class="col-sm-7">
                    <img src="http://vca.demoproject.aum/public/images/products/{{ product.img_path }}"/>
                    <hr>
            </div><div class="row">
                <br>
                <div class="col-sm-5"><h4>Title : {{ product.title }}</h4>
                    <p class="w3-opacity"><b>Company Name</b>: {{ product.company_name }}</p>
                    <p><b>Catgory Name</b> : {{ product.catgory_name }}</p>
                    <p><b>Location</b> : {{ product.location }}</p>
                    <p><b>Description</b> : {{ product.description }}.</p>
                    <p><b>Address</b> : {{ product.address }}</p>
                    <p><b>State</b> : {{ product.states_name }}</p>
                    <p><b>City</b> : {{ product.city_name }} </p>
                    <p><b>PostCode</b> : {{ product.postcode }}</p>
                   </div>
           </div>

         </article>
    </div>
    <!-- card.// -->
{% endblock %}


{% block left_teaser %}
    <h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
